<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <a class="nav-item nav-link btn btn-lg" href="{% url 'about' %}">About</a>

        <!-- Only display dynamic tabs if they exist in the session -->
        {% if tabs %}
            <div id="dynamic-tabs" class="navbar-nav">
                {% for tab in tabs %}
                    <a class="nav-item nav-link btn btn-lg" href="{% url 'load_app' tab.app_name tab.instance_id %}">
                        {{ tab.app_name }} {{ forloop.counter }}
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <!-- Optional: Display a message if no tabs are available -->
            <div id="dynamic-tabs" class="navbar-nav">
                <p>No tabs yet.</p>
            </div>
        {% endif %}
    </div>
</nav>
