:root {
  --col1: #D6F2FA;  /*light blue, option section background*/
  --col2: #738fab;  /*gray teal, option labels font*/
  --col3: #008CBA;  /*bright teal, */
  --col4: #006699;  /*dark teal, accordion button on-hover, dark font*/
  --col5: #f9f9f9;  /*light gray, accordion button static*/
  --col6: rgb(211, 211, 211);   /*gray, tables border color*/
  
  --fss: 12px;
  --fsm: 14px;
  --fsl: 16px;
  --fsx: 20px;
}

::placeholder {
  color: #738fab;
  font-style: italic;
  font-size: var(--fsm);
  opacity: 1;
}
::-webkit-scrollbar{width:6px;border-left:0px solid white;}
::-webkit-scrollbar-thumb{background-color: #738fab;}

/*::-webkit-resizer {
  border: 2px solid black;
  background: red;
  box-shadow: 0 0 5px 5px blue;
  outline: 2px solid yellow;
}*/

::-webkit-resizer {
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--col4) var(--col4) transparent;
}

.container-fluid {padding-left: 0px !important;}

body {
  overflow-y: hidden;
}

.footer {
    background-color: #f8f9fa;  /* Light background for visibility */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: var(--col4);
    border-top: 1px solid var(--bs-gray-200);
}


[draggable=true] {
  cursor: move;
}

.resize-vertical {
  overflow-x: scroll;
  overflow-y: hidden;
  resize: vertical;
}


.previous-next-container {
  text-align: left !important;
}

/* - DBC ACCORDION MENU - */
.accordion-button {                             /*--button when collapsed--*/
  background-color: var(--col5);                /*light-gray*/
  color: var(--col4);                           /*dark-teal*/
}
.accordion-button::after {                      /*--button icon when collapsed--*/
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(228, 209, 209)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:hover {                       /*--button on-hover--*/
  background-color: var(--col4);                    /*dark-teal*/
  color: var(--col5);                               /*light-blue*/
}
.accordion-button:not(.collapsed) {             /*--button when expanded--*/
  background-color: var(--col4);
  color: var(--col5);
}
.accordion-button:not(.collapsed)::after {      /*--button icon when expanded--*/
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(228, 209, 209)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-item {                               /*--expanded content--*/
  background-color: white;                      /*white*/
  color: var(--col4);                               /*dark-teal*/
}
.accordion2 .accordion-button {
  height: 40px;
}
.accordion2 .accordion-button:hover {
  background-color: var(--col2);
}
.accordion2 .accordion-button:not(.collapsed) {
  background-color: var(--col2);
}

/* - DBC BUTTON - */
.btn-outline-secondary {
  color: var(--col4);
  border-color: var(--col4);
  background-color: var(--col1);  
}
.btn:hover {
  color: var(--col5);
  background-color: var(--col4);
}
.btn-outline-danger:hover {
  color: white;
  background-color: #dc3545;
}

.btn {
  padding: 0 5px !important;
  text-align: center !important;
}


/* - DCC DROPDOWN - */
.dash-dropdown {
  margin-bottom: 0.15rem;
  color: var(--col2);
  padding: 0;
}
.Select-control {
  width: 100% !important; /* dropdown window vs. dropdown options */
  border: 1px solid var(--col3);
  color: var(--col2);
}
.Select-placeholder {
  color: var(--col2);
  font-style: italic;
  font-size: var(--fsm);
  padding: 1px calc(var(--bs-gutter-x) * .2) !important;
  padding-right: 1px !important;
}
.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: var(--col4);
}
.wide-opts .Select-menu-outer {
  min-width: 130px !important;
}
.wide-opts-plus .Select-menu-outer {
  min-width: 142px !important;
}
.VirtualizedSelectOption {
  background-color: white;
}
.VirtualizedSelectFocusedOption {
  background-color: var(--col2);
  color: var(--col5);
}

.export-format .Select-control {
  display: inline-block;
  height: 28px !important;
}

.Select.export-format.has-value.Select--single {
  height: 28px !important;
  width: 80px;
  z-index: 1000;
  line-height: 28px !important;
}

.export-format .Select-placeholder, .Select--single > .Select-control .Select-value {
  line-height: 28px !important;
}

.export-format .Select-arrow-zone {
  width: 10px;
  right: 0;
  bottom: 5px;
  display: inline-block;
}

.export-format .Select-multi-value-wrapper {
    width: 64px;
    display: inline-block;
}


/* - DCC CHECKBOX MENU - */

input[type="checkbox"] {                /*original*/
    position: relative;
    cursor: pointer;
    display: inline-block;
    top: -0.75rem;
    left: 0;
    width: 0px;
    height: 0px;
    margin-right: 20px;
}
input[type="checkbox"]:after {          /*unselected*/
    content: '';
    display: block;
    position: relative;
    left: 0;
    top: -0.2rem;
    width: 14px;
    height: 14px;
    background-color: var(--col5);
    border-radius: 30%;
    border: 1px solid lightgray;
}
input[type="checkbox"]:checked:after {  /*selected*/
    width: 15px;
    height: 15px;
    left: 0;
    top: -0.2rem;
    background: var(--col1);
    border-radius: 30%;
    position: relative;
    border: 3px solid var(--col3);
}

.checkbox-label {
  position: relative;
  top: -0.6rem;
}
.dist-label {
    margin-left: 10px !important;
}

.show-hide-menu-item input[type="checkbox"] {
    top: 0.5rem;
}

.spaced {margin: 5px 0;}


/* - DCC RADIOITEMS MENU - */

input[type="radio"] {                   /*original*/
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
input[type="radio"]:after {             /*unselected*/
    content: '';
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
}
input[type="radio"]:checked:after {     /*selected*/
    left: 0.1rem;
    top: 0.75rem;
    width: 10px;
    height: 10px;
    background: var(--col1);
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 0 3px var(--col3);
    border: 1px solid black;
}


/* - DCC INPUT - */

input {
  color: var(--col2);
  border: 1px solid var(--col3);
  border-radius: 4px;
  padding: 1px calc(var(--bs-gutter-x) * .2) !important;
  padding-right: 1px !important;
  height: 34px;
  font-style: italic;
  font-size: var(--fsm);
}

#dt-buttons input::placeholder {
  font-size: 10px;
}



/* DASH TABLE*/

/*.dash-table-container {
  margin-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
  border-bottom: thick double var(--col5);
}*/

.next-page, .last-page, .previous-page, .first-page, .page-number, .current-page-shadow {
  background-color: white;
  color: var(--col2);
}

#edition-items .accordion-body {
  padding: 1rem 0;
}

#edition-items .accordion-button {
  padding: 0.5rem 1.25rem;
  min-width: fit-content;
  width: 25%;
  max-width: 100%;
  margin-bottom: 0.25rem;
}

#edition-items .accordion-item {
  border: 0px;
}


#edition-items .dt-buttons {
  display: none;
  width: fit-content;
}

.tooltip-inner {
  background-color: #dcdcdc;
  color: black;
  font-size: 11px;
  text-align: left;
  width: 400px;
  max-width: 400px;
}

.dash-table-tooltip {
  background-color: #dcdcdc;
  font-size: 12px;
  text-align: center;
  min-width: 200px;
}

/*DT header rows: setup for per-column buttons and label*/
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner .dash-header > div {
    display: flex !important;
    flex-direction: column !important;
}
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner .dash-header .column-actions {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    min-width: 90px;
}
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner .dash-header .column-header--select {
    margin-right: 20px;
}
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner .dash-header .column-header--sort {
    margin-right: 5px;
}

.dash-select-cell input[type="checkbox"] {
  vertical-align: bottom !important;
  left: 5px !important;
}

.dash-spreadsheet-menu {
  padding-right: 0px !important;
  width: max-content !important;
}


/* - CUSTOM STYLES - */

.hidden {display: none; !important;}
.visible {display:  initial; !important;}
.h28 {height: 28px !important;}
.h34 {height: 34px !important;}
.w33 {width: 33.333% !important;}
.color2 {color: var(--col2);}
.smaller {height: 28px !important;}

.disabled {
  border: 0px solid var(--col3);
  background-color: var(--col5);
  font-size: var(--fss);
  color: var(--bs-secondary);
}
.required {
  border: 1px solid var(--bs-form-invalid-border-color);
}

.frame {
  border: 0.5px solid var(--bs-accordion-border-color);
  border-radius: 1px;
}

.vertical-line-left {
  border-left: 1px solid var(--bs-accordion-border-color);
}

.vertical-line-right {
  border-right: 1px solid var(--bs-accordion-border-color);
}

.label-s {
  padding-right: 0;
  font-size: var(--fss);
  font-style: italic;
  color: var(--col2);
}

.label-l {
  font-size: var(--fsl);
  font-style: italic;
  color: var(--col3);
}

.upload-box {
  background-color: var(--col5);
  border-color: var(--col4);
  border-width: 2px;
  border-style: dashed;
  border-radius: 5px;
  width: 25vw;
  min-height: 60px;
  height: 10rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* ---------------------------------------------------------- */

/* Custom styles for dcc.Tabs */
.index-tabs {
    height: 30px !important;
    padding: 0px 36px;
    margin-top: 4px;
    border-bottom: 1px solid rgb(0, 140, 186);
}

.index-container {
    width: 95%;
}

.index-tab {
    color: var(--col5);
    display: flex !important;
    align-items: center !important;
    padding: 0px !important;
    justify-content: center;
    background-color: var(--col2) !important;
    border: 1px solid var(--col2) !important;
    border-bottom: 1px solid rgb(0, 140, 186) !important;
    border-right: 1px solid var(--col5) !important;
    height: 30px !important;
    width: 20%;
}
.tab--selected {
    color: var(--col4) !important;
    font-weight: bold;
    display: flex !important;
    align-items: center;
    padding: 0px;
    height: 30px;
    background-color: white !important;
    border: 1px solid rgb(0, 140, 186) !important;
    border-bottom: 2px solid white !important;

}