/*----------
  GLOBAL STYLES
----------*/

body {
  position: relative; /* we need this for the scrollspy */
  max-width: 100%;
  overflow-x: hidden;
  font-size: 14px;
  color: #F3E0BE;
}

p { font-size: 16px; line-height: 25px; color: #006699; }
h4, .h4 { font-size: 18px; color: #006699; }
a { color: #F3E0BE; }
a:hover { color: #FF7E00; text-decoration: none; }
section { padding: 25px 0 35px; background: transparent; padding-bottom: 15px; }

.align-left { 
  float: left;
  text-align: left;
  padding-left: 2vw;
  width:50%;
}
.align-right {
  float: right;
  text-align: right;
  padding-right: 2vw;
  width:50%;
}

/*----------
  FIXED TOP MENU
----------*/

.header {
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 99999;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8),  rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.topnav {
  display: inline-block;
  width: 100%;
  top: 0;
  padding: 1vh 0px;
  margin-bottom: 1vh;
  overflow: hidden;
  background: #e4d1d1;
  color: #5881a8;
  font-size: calc(2vh + 1vw);
}
.topnav a {
  color: #5881a8;
  text-align: center;
/*  padding: 1vh 2vh; */
}
.topnav a:hover {
  color: #FF7E00;
  text-decoration: none;
}

/*----------
  APPS MAIN MENU
----------*/
#menuToggle {
  display: inline-block;
  position: relative;
  width: 40px;
  top: 0px;
  margin-right: 25px;
  float: right;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #006699;
}
#menuToggle a:hover {
  color: #FF7E00;
}
#menuToggle input {
  display: block;
  position: absolute;
  width: 40px;
  height: 32px;
  top: -7px;
  right: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #006699;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0,0,0,0.5),
              background 0.5s cubic-bezier(255,126,0,1),
              opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* Transform all the slices of hamburger into a crossmark.*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #FF7E00;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  height: 60px;
  width: 650px;
  margin: -42px 0 0 0;
  padding: 0px 60px 0px 0px;
  right: -60px;
  background: linear-gradient(, rgba(0,0,0,0.1));
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li {
  display: inline-block;
  padding: 10px 10px;
  font-size: 22px;
  vertical-align:top;
}
#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}

/*----------
  OTHER COMMON COMPONENTS
----------*/
.content {
  width: 100vw;
  min-height: 100vh;
  background-attachment: fixed;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: top right;
  color: #F3E0BE;
}
#main {
  padding: 15px 15px;
}
.scroller {
  height: 700px;
  overflow-y: scroll;
  scrollbar-color: #5881a8 #000b10;
  background: rgba(0,0,0,0.5);
  text-align: justify;
}
.scroller h {
  font-size: 20px;
  font-weight: 600;
}
.scroller a {
  color: #FF7D27;
}
.scroller span {
  color: #5881a8;
}
.scroller img {
  margin: 10px 0;
}
.primary-button a {
/*  height: 3.5vh;*/
  padding: 1vh 2vh;
  display: inline-block;
  border-radius: 3px;
  background-image: linear-gradient(#FF6600, #FF7D27);
  color: #F3E0BE;
  font-size: 2vh;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.line-dec {
  width: 45px;
  height: 3px;
  background-color: #FF7D27;
  margin: 20px 0px 20px 0px;
}
.precontainer {
  height: 30px;
  padding-left: 15px;
  margin-bottom: 2vh;
}
.precontainer a {
  height:30px;
}
.precontainer img {
  height:27px;
  vertical-align: top;
}
.precontainer h4 {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  font-weight: 500;
  padding-left:10px;
}
.left-text {
  text-align: justify;
  color: #F3E0BE;
}
.left-text h4 {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}
.left-text span {
  color: #FF7D27;
}
.first-content {
  font-size: calc(3vh + 1vw);
  margin-bottom:2vh;
}
.first-content em {
  color: #FF7D27;
}


/*----------
  SUBPAGES BACGROUND IMAGES
----------*/
#home {
/*  background-image: url(../img/background/main0.jpeg);*/
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}

#about {
  background-image: url(../img/background/main0.jpeg);
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}

#volcano {
  background-color: #f0efef;
}


/*----------
  SUBPAGES CONTENT
----------*/

/* index.html/#home */
#home {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  text-align: center;
  color: #006699;
}
#home .container {
  background: transparent;
}
#home h1 {
  margin-top: 0px;
  padding-top:10vh;
  padding-bottom: 2vh;
  font-size: calc(8vh + 3vw);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
}
#home em {
  color: #FF7D27;
  font-weight: 600;
  font-style: normal;
}
#home span {
  display: inline-block;
  margin-top: -20px;
  font-weight: 400;
}
#home .primary-button {
  padding-top: 15vh;
}
#home .bottom-text {
  margin-left: 22vw;
  margin-right: 22vw;
  padding-top: 5vh;
  text-align: center;
  font-size: 2vh;
  color: #5881a8;
}

.owl-pagination {
  opacity: 1;
  display: inline-block;
}
.owl-page span {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #F3E0BE;
}

/* TABS */
.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.tabs a {
  display:block;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  text-align:left;
  color:#F3E0BE;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 16px;
  border:2px solid #F3E0BE;
  width: 300px;
}
.tabs a:hover {
  color: #ff7d27;
}
.tabs .active {
  border:2px solid #ff7d27;
  color: #ff7d27;
}
.tabs label{
  font-size:16px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 13px;
}
.tabgroup div  {
}
.tabgroup p {
  color: #F3E0BE;
  padding: 15px;
}
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}
.apps {
  text-align: center;
  font-size: 45px;
  color: black;
}
.apps em {
  color: gray;
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
}
/* APPS */
.service-content {
  width: 100vw;
  min-height: 100vh;
  padding-top: 15px;
  background-attachment: fixed;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: top right;
  text-align: left;
  font-size: 45px;
  color: #FFF8E7;
}
.service-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #FFF8E7;
}
.service-content .left-text .line-dec {
  width: 105px;
  height: 3px;
  background-color: #ff7d27;
  margin: 10px 0px 5px 0px;
}
.service-content .plotly {
  margin: 0px 0px 0px -7px;
}
.plotly-app {
  background-color: white;
  box-shadow: -28px 0 25px -25px rgba(0,0,0,1), 28px 0 25px -25px rgba(0,0,0,1);
}


/*FOOTER MAIN*/
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background: #006699;
  padding: 0px 0px 0.5vh 0px;
}
footer .row {
  margin-top:1vh;
  justify-content: center;
}
footer .container {
  height:4vh;
  padding-top:0.5vh;
  padding-bottom:0.5vh;
  justify-content: center;
}
footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
footer ul li {
  display: inline-block;
  margin: 0px 0px;
}
footer ul li a {
  width: 5.5vh;
  height: 5.5vh;
  line-height: 5.5vh;
  text-align: center;
  display: inline-block;
  background-color: #ff7d27;
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 2.2vh;
}
footer ul li a:hover {
  color: #282b2f;
  background-color: #ff8e43;
}
footer p {
  font-size: 1.8vh;
  color: #F3E0BE;
  margin-top: 0.5vh;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}
footer em {
  color: #ff8e43;
  font-weight: 600;
  font-style: normal;
}

.plotly-app {
  width: 100%;
  height: 90vh;
}
#app.container {
  max-height: 90vh;
}
#app-m.container {
  max-height: 70vh;
}

/*MEDIA DIVICES - PLOTLY APPS*/
@media screen and (max-height: 399px) {
  .plotly-app {
    width: 181%;
    height: 155vh;
    transform: scale(0.55);
    transform-origin: left top;
  }
  .precontainer {margin-left: 2.7vw; zoom: 0.7;}
  .fixed-side-navbar:hover {background: linear-gradient(0.25turn, rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0));}
}

@media screen and (min-height: 400px) {
  .plotly-app {
    width: 167%;
    height: 142vh;
    transform: scale(0.6);
    transform-origin: left top;
  }
  .precontainer {margin-left: 2.7vw; zoom: 0.8;}
  .fixed-side-navbar {background: linear-gradient(0.25turn, rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0));}
  .fixed-side-navbar:hover {background: linear-gradient(0.25turn, rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0));}
}*/

/*MEDIA DIVICES - HTML TABS*/
@media screen and (max-width: 799px) {
  #menu {
    transform: none;
    height: 50px;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    background: linear-gradient(rgba(0,0,0,1), rgba(9,25,36,1));
  }
  .fixed-side-navbar {zoom: 0.8;}
  #main.container {
    max-width: 150vw;
    zoom: 0.5;
  }
  #app.container {max-width: 95vw;}
  #home span {
    font-size: 8vh;
  }
}
@media screen and (min-width: 800px) {
  #main.container {
    max-width: 120vw;
    zoom: 0.8;
  }
  #app.container {
    max-width: 95vw;
  }
  #home span {
    font-size: 6vh;
  }
}


/* LIGHT BOX [#analysis] */

body:after {
  content: url(../img/navi/close.png) url(../img/navi/loading.gif) url(../img/navi/prev.png) url(../img/navi/next.png);
  display: none;
}
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid white;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: black;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 115px;
  height: 115px;
  margin: 0 auto;
  background: url(../img/navi/loading.gif) no-repeat;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/navi/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/navi/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-caption a {
  color: #4ae;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/navi/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
