/*----------
  GLOBAL STYLES
----------*/

body {
  position: relative; /* we need this for the scrollspy */
  background: #fafbfc;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 14px;
  color: #F3E0BE;
}

p { font-size: 16px; line-height: 25px; color: #006699; }
h4, .h4 { font-size: 18px; color: #006699; }
a { color: #F3E0BE; }
a:hover { color: #FF7E00; text-decoration: none; }
section { padding: 25px 0 35px; background: transparent; padding-bottom: 15px; }

.align-left { 
  float: left;
  text-align: left;
  padding-left: 4vw;
  width:50%;
}
.align-right {
  float: right;
  text-align: right;
  padding-right: 4vw;
  width:50%;
}

/*----------
  FIXED TOP MENU
----------*/

.header {
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 99999;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: linear-gradient(rgba(207,186,186,1), rgba(207,186,186,0.5),  rgba(207,186,186,0.2), rgba(207,186,186,0));
}
.topnav {
  display: inline-block;
  width: 100%;
  height: 50px;
  top: 0;
  padding: 0.8vh 0px;
  overflow: hidden;
  border-bottom: 1px solid #cfbaba;
  background: #e4d1d1;
  color: #5881a8;
  font-size: calc(2vh + 1vw);
}
.topnav a {
  color: #5881a8;
  text-align: center;
/*  padding: 1vh 2vh; */
}
.topnav a:hover {
  color: #FF7E00;
  text-decoration: none;
}

/*----------
  OTHER COMMON COMPONENTS
----------*/
.content {
  width: 100vw;
  min-height: 100vh;
  background-attachment: fixed;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: top right;
  background-color: #f9f9f9;
  color: #F3E0BE;
  padding: 0 0;
}


/*----------
  SUBPAGES BACGROUND IMAGES
----------*/
#home {
/*  background-blend-mode: lighten;*/
}

#about {
  background-image: url(../img/background/main0.jpeg);
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}


/*----------
  SUBPAGES CONTENT
----------*/

.owl-pagination {
  opacity: 1;
  display: inline-block;
}
.owl-page span {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #F3E0BE;
}


/* APPS */

.plotly-app {
  position: absolute;
  top: 7.5vh;
  margin: 0 1vw;
  width: 98vw;
  height: 87.5vh;
  background-color: #f9f9f9;
}


/*FOOTER MAIN*/
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background: #006699;
  padding: 0px 0px 0.5vh 0px;
}
footer .row {
  margin-top:1vh;
  justify-content: center;
}
footer .container {
  height:4vh;
  padding-top:0.5vh;
  padding-bottom:0.5vh;
  justify-content: center;
}
footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
footer ul li {
  display: inline-block;
  margin: 0px 0px;
}
footer ul li a {
  width: 5.5vh;
  height: 5.5vh;
  line-height: 5.5vh;
  text-align: center;
  display: inline-block;
  background-color: #ff7d27;
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 2.2vh;
}
footer ul li a:hover {
  color: #282b2f;
  background-color: #ff8e43;
}
footer p {
  font-size: 1.8vh;
  color: #F3E0BE;
  margin-top: 0.5vh;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}
footer em {
  color: #ff8e43;
  font-weight: 600;
  font-style: normal;
}


/*MEDIA DIVICES - PLOTLY APPS*/
/*@media screen and (max-height: 399px) {
  .plotly-app {
    width: 181%;
    height: 155vh;
    transform: scale(0.55);
    transform-origin: left top;
  }
  .precontainer {margin-left: 2.7vw; zoom: 0.7;}
  .fixed-side-navbar:hover {background: linear-gradient(0.25turn, rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0));}
}

@media screen and (min-height: 400px) {
  .plotly-app {
    width: 167%;
    height: 142vh;
    transform: scale(0.6);
    transform-origin: left top;
  }
  .precontainer {margin-left: 2.7vw; zoom: 0.8;}
  .fixed-side-navbar {background: linear-gradient(0.25turn, rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0));}
  .fixed-side-navbar:hover {background: linear-gradient(0.25turn, rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0), rgba(7,24,33,0));}
}*/

/*MEDIA DIVICES - HTML TABS*/
/*@media screen and (max-width: 799px) {
  #menu {
    transform: none;
    height: 50px;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    background: linear-gradient(rgba(0,0,0,1), rgba(9,25,36,1));
  }
  .fixed-side-navbar {zoom: 0.8;}
  #main.container {
    max-width: 150vw;
    zoom: 0.5;
  }
  #app.container {max-width: 95vw;}
  #home span {
    font-size: 8vh;
  }
}
@media screen and (min-width: 800px) {
  #main.container {
    max-width: 120vw;
    zoom: 0.8;
  }
  #app.container {
    max-width: 95vw;
  }
  #home span {
    font-size: 6vh;
  }
}


/* LIGHT BOX [#analysis] */

body:after {
  content: url(../img/navi/close.png) url(../img/navi/loading.gif) url(../img/navi/prev.png) url(../img/navi/next.png);
  display: none;
}
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid white;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: black;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 115px;
  height: 115px;
  margin: 0 auto;
  background: url(../img/navi/loading.gif) no-repeat;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/navi/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/navi/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-caption a {
  color: #4ae;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/navi/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
